<h1>¡Bienvenido a Save me Sensei!</h1>
<p>
    Estamos en construcción...
</p>
<p>
    Por mientras puedes ver los CRUD de los usuarios y lo avisos que usaremos.
</p>
<%= link_to "Usuarios", users_path %>
<%= link_to 'Avisos', notices_path %>
